{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>HOLAAAA</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus fugiat, amet, earum dolores officia ex
            voluptatibus neque tempore, ullam quasi laborum labore eum consectetur asperiores error illum ducimus autem
            odio!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/grupo_imagen.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}